.image {
  width: 190px;
  height: 100px;
}
.title {
  font-size: 24px;
  font-weight: 400;
  font-family: cardo;
  color: rgba(27, 55, 100, 1);
}
.descr {
  font-size: 19px;
  font-weight: 400;
  font-family: inter;
  color: rgba(150, 154, 160, 1);
  width: 290px;
  overflow-wrap: break-word;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
