.image {
  width: 285px;
  height: 384px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  background-color: white;
}
.block {
  padding: 30px 0;
}

.title {
  font-size: 32px;
  font-weight: 400;
  font-family: cardo;
  color: #1b3764;
}
.block_point {
  display: flex;
  align-items: center;
  gap: 5px;
}
.point {
  font-size: 16px;
  color: #ffca42;
}
.prinT {
  font-size: 24px;
  font-weight: 400;
  font-family: cardo;
  color: #1b3764;
}
.descr {
  font-size: 19px;
  font-weight: 400;
  font-family: inter;
  color: #969aa0;
  width: 280px;
  overflow-wrap: break-word;
}
.price {
  font-size: 22px;
  font-weight: 400;
  font-family: inter;
  color: #ffca42;
}
